apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: authservice-servicemonitor
  namespace: monitoring
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: authservice
  namespaceSelector:
    matchNames:
      - auth
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
      honorLabels: true
